body{
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper{
	display: grid;
	grid-template-columns: repeat(3,90px);
	grid-template-rows: repeat(3,90px);
	grid-gap: 5px 5px;
	animation: rotate 10s linear infinite;
}
.item{
	border-radius: 50%;
	animation: animation 2s linear infinite;
	transition: 250ms;
}

.item7{
	background: #BF0404;
	animation-delay: 0s;
}

.item4,.item8{
	background: #F27329;
	animation-delay : 0.2s;
}

.item1,.item5,.item9{
	background: #F29F05;
	transition-delay: 0.4s;
}
.item2,.item6{
	background: #F2B705;
	animation-delay: 0.6s;
}
.item3{
	background: #F2B555;
	animation-delay: 0.8s;
}



@keyframes animation{
  0%,100%{
    transform:scale(0);
  }
  20%,80%{
    transform:scale(1);
  }
}
@keyframes rotate{
	0%{
		transform: rotate(0deg);
	}
	20%{
		transform: rotate(0deg);
	}	
	25%{
		transform: rotate(90deg);
	}
	45%{
		transform: rotate(90deg);
	}
	50%{
		transform: rotate(180deg);
	}
	70%{
		transform: rotate(180deg);
	}
	75%{
		transform: rotate(270deg);
	}
	95%{
		transform: rotate(270deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
